<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.castsdkdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CastSDKDemo"
        android:usesCleartextTraffic="true">
        <provider
            android:name=".RelayAbilityStatusProvider"
            android:authorities="com.example.castsdkdemo.provider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="ONetPlainServicesLocation"
            android:value="/assets/ONetPlainServices.xml" />

        <meta-data
            android:name="com.oplus.ocs.cast.AUTH_CODE"
            android:value="ADBGAiEAv5F0oKfwMyUzBmDxMdL6V7d9taxz9sAMvGON8sbhNxICIQDk9hxP8KZMZL0YnFMz/XLw2Pvam3oq827TF4Li7RKJrWtMMxk=" />

    </application>

</manifest>